.catalog-products__title {
  .oswald;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  padding-bottom: 41px;
  border-bottom: 1px solid #ebebeb;
}

.catalog-products__list {
  .zero-list;
}

.product__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
}

.product__img.plus {
  display: block;
  padding: 25px 0 23px 0;
}


.product__title.show-more {
  color: #111111;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.product__empty__description {
  .lato;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 8px;
}

.button.show-more__button {
  color: #444444;
  background-color: #f2f2f2;
  width: 100%;
  height: 40px;
  padding: 10px 94px;
  box-sizing: border-box;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
