.catalog-products__title {
  .oswald;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.catalog-products__list {
  .zero-list;
}

.show-more {
  color: #111111;
}

.product__empty__description {
  .lato;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.button.show-more__button {
  color: #444444;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
