.footer-page__conteiner {
  display: flex;
  flex-direction: column;
}

.footer-page__icon {
}

.logo-html-academy__title {
  .lato;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.footer__logo-html-academy__link {
  .zero-link;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}


.footer-page__logo {
  padding: 20px 0px;
  align-self: center;
}

/*.footer__logo-html-academy {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}*/
