.footer-page {
  background-color: #ffffff;
  width: 320px;
  position: relative;
  left: -20px;

  @media (min-width: @tablet-width) {
    min-width: 768px;
    left: -30px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1440px;
    left: -110px;
  }
}


.footer-page__location {
  margin-top: 11px;

  @media (min-width: @tablet-width) {
    margin-top: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 82px;
  }
}


.footer-page__conteiner {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    padding: 55px 30px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    padding: 66px 110px;
  }
}


.footer-page__logo-html-academy-title {
  .lato;
  font-size: 16px;
  line-height: 20px;
  color: #444444;

  @media (min-width: @tablet-width) {
    padding-right: 23px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 23px;
  }
}


.footer-page__logo-html-academy-link {
  .zero-link;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  &:hover .footer-page__logo-html-academy-title {
    opacity: 0.8;
  }

  &:active .footer-page__logo-html-academy-title {
    opacity: 0.3;
  }

  &:hover .footer-page__logo-html-academy-icon {
    fill: #68b738;
  }

  &:active .footer-page__logo-html-academy-icon {
    fill: #68b738;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
  }
}


.footer-page__logo {
  padding-bottom: 20px;
  align-self: center;
}


.footer-page__logo-icon {
  &:hover {
    fill: #3e3e3e;
  }

  &:active {
    fill: #6b6b6b;
  }
}


.footer-page__sociale-list {
  .zero-list;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 26px;
  box-sizing: border-box;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px;
  width: 280px;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    border: none;
  }
}


.footer-page__social-item {
  .zero-list;
}


.footer-page__social-link svg {
  .zero-link;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}
