.locaition__map {
  min-width: 320px;
  height: 362px;
  background: no-repeat url("./../img/location-map.png"), #f2f2f2 50%;
  margin-top: 26px;
  position: relative;
}


.location__cooperation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 26px;

  @media (min-width: @tablet-width) {
    height: 200px;
    padding: 0 70px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    height: 200px;
    width: 409px;
    padding: 0 78px;
    align-items: center;
    position: relative;
    top: 240px;
    z-index: 1;
  }
}



.location__cooperation-description {
  .oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}


.location__cooperation-address {
  .lato;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}


.locaition__map-point {
  position: absolute;
  left: 140px;
  top: 140px;
}
