.nutrition-programs__list {
  margin: 0;
  padding: 0;
}

.nutrition-programs__item {
  background-color: #f2f2f2;
  min-height: 266px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nutrition-programs__icon {
  margin-top: 24px;
  margin-left: 20px;
  position: relative;
}

.nutrition-programs__icon::before {
  width: 50px;
  height: 50px;
  content: "";
  position: absolute;
  background-color: #68b738;
  border-radius: 50%;
  top: auto;
  left: auto;
}

.nutrition-programs__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.nutrition-programs__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}

.nutrition-programs__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
