.nutrition-programs__list {
  margin: 0;
  padding: 0;
}
.nutrition-programs__item {
  background-color: #F2F2F2;
  min-height: 266px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nutrition-programs__icon {
  margin-top: 24px;
  margin-left: 20px;
  position: relative;
}
.nutrition-programs__icon::before {
  width: 50px;
  height: 50px;
  content: "";
  position: absolute;
  background-color: #68B738;
  border-radius: 50%;
  top: auto;
  left: auto;
}
