.page-cover {
  min-height: 302px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(./../img/index-rectangle-background.png);
  background-repeat: no-repeat;
}
