
/*.page-nav {
  z-index: -1;
  clip: rect(0 0 0 0);
}*/

.page-nav__list {
  .zero-list;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    min-width: 436px;
    flex-direction: row;
    gap: 33px;
  }

  @media (min-width: @desktop-width) {
    min-width: 475px;
    flex-direction: row;
    gap: 33px;
  }
}


.page-nav__list-item {
  .zero-list;
  border-top: 1px solid #e6e6e6;
  box-sizing: border-box;
  width: 100%;
}

.page-nav__list-link {
  .oswald;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 22px 0 24px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    color: #ffffff;
  }
}
