/*.product-other {

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}*/


.product-other__list {
  .zero-list;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding: 0 38px;
  }

  @media (min-width: @desktop-width) {
    width: 895px;
  }
}


.product-other__item {
  .zero-list;
  padding-bottom: 19px;
  border-bottom: 1px solid #dcdcdc;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


.product-other__title {
  .oswald;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding-bottom: 36px;
  border-bottom: 1px solid #dcdcdc;
}


.product-other__name {
  .oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}


.product-other__specifications {
  display: flex;
  justify-content: space-between;

  &-pack,
  &-price {
    .lato;
    font-size: 14px;
    line-height: 14px;
    color: #444444;
  }
}


.product-other__button {
  width: 100%;
  height: 40px;
  padding: 8px 44px;
}

.product-other__present {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 280px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("./../img/present-background.png");
  background-repeat: no-repeat;
  margin: 35px 0;
}


.product-other__present-title {
  .lato;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  display: block;
  text-align: center;
  width: 57%;
}
