
.program-selection {
  min-width: 280px;
  background-color: #ffffff;
}

.oswald-main-form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.program-selection__title {
  .oswald;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.program-selection__description {
  .oswald;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.program-selection__blank {
  color: #000000;
}

.cat-profile__title {
  .oswald;
  .oswald-main-form;
}

.cat-profile {
  &__name,
  &__weight,
  &__age {
    .oswald;
    .oswald-main-form;
  }
}

.program-specificity__title {
  .oswald;
  .oswald-main-form;
}

.contact-details__title {
  .oswald;
  font-size: 24px;
  line-height: 26px;
}

.contact-details {
  &__item,
  &__mail,
  &__telefone {
    .oswald;
    .oswald-main-form;
  }
}

.comment__title {
  .oswald;
  font-size: 24px;
  line-height: 26px;
}

.comment__about {
  .oswald;
  .oswald-main-form;
}

.additional__title {
  .oswald;
  font-size: 24px;
  line-height: 26px;
}

.additional__item-name {
  .oswald;
  .oswald-main-form;
}

.required-field {
  .lato;
  font-size: 14px;
  line-height: 16px;
}
